.edit {
    padding: 2em;
}

.todos {
    width: 45%;
    margin: auto;
    margin-top: 1em;
}

.buttons {
    margin-left: 1em;
}

.notShow {
    display: none;
}

.allTodos {
    display: flex;
    justify-content: space-between;
}

.todo {
    background-color: #c9eddd;
    display: flex;
    justify-content: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    align-items: center;
    width: 40rem;
}

.todoDone {
    display: flex;
    justify-content: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    align-items: center;
}

.todo-input {
    padding: 1em;
}

.todo-submit {
    padding: 1em;
    color: white;
    background-color: darkslategrey;
    text-transform: uppercase;
    font-weight: bold;
}

.delete {
    padding: 0.5em;
    color: white;
    background-color: darkslategrey;
    margin-right: 0.5rem;
}

.id {
    margin-left: 1em;
    margin-right: 1em;
}

.content {
    margin-left: 1em;
    margin-right: 1em;
}

.deleteContainer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 1em;
}

.done > .content {
    color: gray;
    text-decoration: line-through;
}

.odd {
    background-color: #d2ebe0;
}

@media screen and (max-width: 650px){
    .todos {
        width: 100%;
    }
    form {
        display: flex;
        justify-content: center;
    }
}